extends layout

block content

	//- include nav

	#wrapper
		h1 <a href='/'>Funlabs <span>Voting Admin</span></a>
		p Launch token voting or count available tokens.

		form(action='/launch', method='post', class='launch')
			input(type='hidden', name='launch', value='launch')
			button(type='submit') Launch Voting

		form(action='/count', method='post', class='count')
			input(type='hidden', name='count', value='count')
			button(type='submit') Count Tokens					
